syntax = "proto3";

package {{ spec.package }};

{% for import in spec.imports -%}
import "{{ import }}";
{%- endfor %}

service {{ spec.service_name }} {
{%- for method_group in spec.method_groups %}
  // Methods for {{ method_group.type }}.
  {% for method in method_group.methods -%}
  rpc {{ method.name }}({{ method.request_type }}) returns ({{ method.response_type }}) {
    {%- for option in method.options %}
    option ({{ option.type}}) = {{ option.value }};
    {%- endfor %} 
  }
  {% endfor -%}
{% endfor %}
}

//////////////////////////////////////////////////////////
//                                                      //
//                  Resource Types                      //
//                                                      //
//////////////////////////////////////////////////////////
{% for resource in spec.resources -%}
message {{ resource.type }} {
  option (google.api.resource) = {
    type: "{{ spec.domain }}/{{ resource.type }}"
    pattern: "{{ resource.pattern }}"
  };

  string name = 1 [(google.api.field_behavior) = IDENTIFIER];
}

{% endfor -%}

//////////////////////////////////////////////////////////
//                                                      //
//               Requests & Responses                   //
//                                                      //
//////////////////////////////////////////////////////////
{% for req_res in spec.req_res %}
message {{ req_res.type }} {
  
}
{% endfor -%}